- short_form = local_assigns.fetch :short_form, false
- target_blank = local_assigns.fetch :target_blank, false
- trial_cta = local_assigns.fetch :trial_cta, false

- if Gitlab::CurrentSettings.should_check_namespace_plan?
  - namespace = @project&.namespace || @group
  - if can?(current_user, :admin_namespace, namespace)
    - if trial_cta
      = link_to s_('Promotions|Try it for free'), new_trial_registration_path, class: 'btn btn-primary issue-weights-trial-cta', target: target_blank ? '_blank' : '_self'
    - else
      - current_group = @project&.group || @group
      = link_to s_('Promotions|Upgrade your plan'), upgrade_plan_path(current_group), class: 'btn btn-primary issue-weights-upgrade-cta', target: target_blank ? '_blank' : '_self'
  - elsif namespace.is_a?(Group)
    %p= s_('Promotions|Contact an owner of group %{namespace_name} to upgrade the plan.') % { namespace_name: namespace.name }
  - else
    - owner = namespace.owner
    - link_start = "<a href='#{user_path(owner)}' rel='noowner noreferrer' target='_blank'>".html_safe
    %p= s_('Promotions|Contact owner %{link_start}%{owner_name}%{link_end} to upgrade the plan.').html_safe % { owner_name: owner.name, link_start: link_start, link_end: '</a>'.html_safe }
- elsif current_user&.admin?
  - if License.current&.expired?
    = link_to (!short_form ? s_('Promotions|Buy GitLab Enterprise Edition') : s_('Promotions|Buy EE')), ::EE::SUBSCRIPTIONS_PLANS_URL, class: 'btn btn-primary'
  - else
    = link_to s_('Promotions|Start GitLab Ultimate trial'), new_trial_url, class: 'btn btn-primary'
- else
  %p= s_('Promotions|Contact your Administrator to upgrade your license.')
